Creating Lists

In [228]:
a=100
print(a)

100

In [242]:
print(type(a))
list4=list()
list4.append(3)
print(list4)

<class 'int'>
[3]

In [240]:
list_example=[2,3,4,5]
type(list_example)

list

In [62]:
print(list_example)

[2, 3, 4, 5, 7]

Differences between insert and append :
append:just add to the end of list
insert you can add in any place if you know the index

In [61]:
list_example.append(7)

In [220]:
list3=[3,4,5,6]
list3.insert(1,10)
print(list3)

[3, 10, 4, 5, 6]

In [78]:
list1=[1,2,3,4,5,6]
for item in list1:
    print (item)

1
2
3
4
5
6

Slicing

In [88]:
list2=[3,4,5,6,7]
print(list2[:3])

[3, 4, 5]

In [105]:
#compare the size between tuple vs list
import sys 
mylist=[5,55,6,7,8,9,0,2,3,4,5]
mytuple=(2,'afnan',3,5)
print(sys.getsizeof(mylist),'bytes')
print(sys.getsizeof(mytuple),'bytes')

152 bytes
72 bytes

Filter Function:
Define list with the following elements [ 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12 ]
Slice your list and print the last 3 elements
apply filter built in function to generate new list with numbers less that 10

In [109]:
a=[ 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12 ]
print(a[-3:])

[10, 11, 12]

In [115]:
def less(n):
    return n<10
b = filter(less, a)
print(list(b))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

List Comprehensions:
Define list with the following elements [ 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12 ] (same as
above)
Use list comprehensions generate new list with number less than 10 (same as
above)

In [122]:
a=[ 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12 ]
newlist = [value for value in a if value < 10]
print(newlist)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

Map() Function
Define list named test_list with these elements [1,2,3,4,5]
Using map function change list’s element to be squared numbers, means you list
should be [1,4,9,16,25]

In [140]:
test_list=[1,2,3,4,5]
def double(val):
  return val*val
res = list(map(double, test_list))
print(res)

[1, 4, 9, 16, 25]

Combining Lists with the Zip() Function
Define new lists which are: numbers=[1,2,3], chars=[’a’,’b’,’b’]
Using zip function combine two lists with new list called merged_list

In [159]:
numbers = [1, 2, 3]
chars = ['a', 'b', 'b']
merged_list = zip(numbers, chars)
print(list(merged_list))

[(1, 'a'), (2, 'b'), (3, 'b')]

Finding the Most Common Item in a List
Define list with elements [’name’,’name’,’age’,’city’]
Have new set from our above list
Use max function to get the most common element

In [188]:
DB = ['name', 'name', 'age', 'city']
DB1 = set(DB)
most_common = max(DB1, key=DB.count)
print("Set is :", DB1)
print("Most common element:", most_common)

Set is : {'city', 'name', 'age'}
Most common element: name

In [190]:
my_tuple = ('a','p','p','l','e',)
# len() : get the number of elements
print(len(my_tuple))
# count(x) : Return the number of items that is equal to x
print(my_tuple.count('p'))
# index(x) : Return index of first item that is equal to x
print(my_tuple.index('l'))
# repetition
my_tuple = ('a', 'b') * 5
print(my_tuple)
# concatenation
my_tuple = (1,2,3) + (4,5,6)
print(my_tuple)
# convert list to a tuple and vice versa
my_list = ['a', 'b', 'c', 'd']
list_to_tuple = tuple(my_list)
print(list_to_tuple)
tuple_to_list = list(list_to_tuple)
print(tuple_to_list)
# convert string to tuple
string_to_tuple = tuple('Afnan')
print(string_to_tuple)

5
2
3
('a', 'b', 'a', 'b', 'a', 'b', 'a', 'b', 'a', 'b')
(1, 2, 3, 4, 5, 6)
('a', 'b', 'c', 'd')
['a', 'b', 'c', 'd']
('A', 'f', 'n', 'a', 'n')

Dictionaries: unordered, changeable and indexed.

In [197]:
states = {
    'City1': 'C1',
    'City2': 'C2',
    'City3': 'C3',
    'City4': 'C4',
    'City5': 'C5'
}

len(states)

5

In [201]:
cities ={
    'C1':'CityEx1',
    'C2':'CityEx2',
    'C3':'CityEx3'
}
cities

{'C1': 'CityEx1', 'C2': 'CityEx2', 'C3': 'CityEx3'}

In [203]:
cities['C4']='CityEx4'
cities['C5']='CityEx5'
cities

{'C1': 'CityEx1',
 'C2': 'CityEx2',
 'C3': 'CityEx3',
 'C4': 'CityEx4',
 'C5': 'CityEx5'}

In [209]:
print('-'*10)
print('C1 state has City :',cities['C1'])
print('C2 state has City :',cities['C2'])

----------
C1 state has City : CityEx1
C2 state has City : CityEx2

In [213]:
print('City1 has :',cities[states['City1']])
print('City2 has :',cities[states['City2']])

City1 has : CityEx1
City2 has : CityEx2